<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.file.mapper.FileStoreMappingMapper">
    
    <resultMap type="FileStoreMapping" id="FileStoreMappingResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="menuId"    column="menu_id"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFileStoreMappingVo">
        select id, user_id, menu_id, name, url, order_num, create_by, create_time, update_by, update_time, remark from file_store_mapping
    </sql>

    <select id="selectFileStoreMappingList" parameterType="FileStoreMapping" resultMap="FileStoreMappingResult">
        <include refid="selectFileStoreMappingVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="menuId != null "> and menu_id = #{menuId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
        </where>
    </select>
    
    <select id="selectFileStoreMappingById" parameterType="Long" resultMap="FileStoreMappingResult">
        <include refid="selectFileStoreMappingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFileStoreMapping" parameterType="FileStoreMapping" useGeneratedKeys="true" keyProperty="id">
        insert into file_store_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="menuId != null">menu_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="menuId != null">#{menuId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFileStoreMapping" parameterType="FileStoreMapping">
        update file_store_mapping
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="menuId != null">menu_id = #{menuId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFileStoreMappingById" parameterType="Long">
        delete from file_store_mapping where id = #{id}
    </delete>

    <delete id="deleteFileStoreMappingByIds" parameterType="String">
        delete from file_store_mapping where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>